### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import numpy as np
import pandas as pd

# File to Load


file_to_load = "purchase_data.csv"

# Read Purchasing File + store into Pandas

purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
player_demographic = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographic.head()
player_count = len(purchase_data["SN"].value_counts())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.

unique_items = len((purchase_data["Item ID"]).unique())
price_average = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
revenue_total = (purchase_data["Price"]).sum()

#Create a summary data frame to hold the results
display_summary_df = pd.DataFrame({"The # of Unique Items":[unique_items],
                           "Average Price":[price_average], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [revenue_total]})

#Display the summary data frame
display_summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_demographics = player_demographic["Gender"].value_counts()

males = gender_demographics["Male"]

females = gender_demographics["Female"]

other = gender_demographics["Other / Non-Disclosed"]

gender_totals = gender_demographics["Male"] + gender_demographics["Female"] + gender_demographics["Other / Non-Disclosed"]

male_percent = gender_demographics["Male"] / gender_totals * 100

female_percent = gender_demographics["Female"] / gender_totals * 100

other_percent = gender_demographics["Other / Non-Disclosed"] / gender_totals * 100

#print(male_percent)
#print(female_percent)
#print(other_percent)

#Create a summary data frame to hold the results
display_gender_summary_df = pd.DataFrame({"Male count": [males],
                                   "Male %": [male_percent],
                                   "Female count": [females],
                                   "Female %": [female_percent],
                                   "Other count": [other],
                                   "Other %": [other_percent]})
                          
#Display the summary data frame
display_gender_summary_df.style.format({'Male %':"{:,.2f}",
                                        'Female %':"{:,.2f}",
                         'Other %': '{:,.2f}'})



#gender_percentage = gender_demographics / player_count * 100
#gender_demographics_clean = pd.DataFrame({"Total Count": gender_demographics,
                                    #"% of Players": gender_percentage})
#gender_demographics_clean = gender_demographics_clean.round(2)

#gender_demographics_clean


## Purchasing Analysis (Gender)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [5]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_brackets = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
player_demographic["Age Ranges"] = pd.cut(player_demographic["Age"], age_bins, labels=age_brackets)

# Calculate the Numbers and Percentages by Age Group
age_demographic_totals = player_demographic["Age Ranges"].value_counts()
age_demographic_percents = age_demographic_totals / player_count
age_demographic = pd.DataFrame({"Total Count": age_demographic_totals, "Percentage of Players": age_demographic_percents})

# Display Age Demographics Table
age_demographic = age_demographic.sort_index()
age_demographic

       Total Count  Percentage of Players
<10             23               0.039931
10-14           28               0.048611
15-19          136               0.236111
20-24          365               0.633681
25-29          101               0.175347
30-34           73               0.126736
35-39           41               0.071181
40+             13               0.022569

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Bin the Purchasing Data
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], age_bins, labels=age_brackets)

# Run basic calculations
age_purchase_totals = purchase_data.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
age_average = purchase_data.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
age_counts = purchase_data.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")

# Calculate Normalized Purchasing (Average Purchase Total per Person)
normalized_total = age_purchase_totals / age_demographic["Total Count"]

# Convert to DataFrame
age_data = pd.DataFrame({"Purchase Count": age_counts, "Average Purchase Price": age_average, "Total Purchase Value": age_purchase_totals, "Normalized Totals": normalized_total})

# Display the Age Table
age_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Ranges,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [7]:
# Calculations
user_totals = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_averages = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_counts = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")

# Convert DataFrame
user_data_unsorted = pd.DataFrame({"Total Purchase Value": user_totals, "Average Purchase Price": user_averages, "Purchase Count": user_counts})

# Display Table
user_sorted_data = user_data_unsorted.sort_values("Total Purchase Value", ascending=False)

# Display Preview
user_sorted_data.head(5)

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
 # Extract 
item_data_extract = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# calculations
total_item_purchases = item_data_extract.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchases = item_data_extract.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_counts = item_data_extract.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

# Create new DataFrame
item_data_pd = pd.DataFrame({"Total Purchase Value": total_item_purchases, "Item Price": average_item_purchases, "Purchase Count": item_counts})

# Sort Values
item_data_sorted = item_data_pd.sort_values("Purchase Count", ascending=False)

# Display Preview
popular_items = item_data_sorted.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
popular_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [9]:
 # Item Table (Sorted by Total Purchase Value)
item_total_purchase_value = item_data_pd.sort_values("Total Purchase Value", ascending=False)

profitable_items = item_total_purchase_value.loc[:,["Purchase Count", "Item Price", "Total Purchase Value"]]
profitable_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80