### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import numpy as np
import pandas as pd

# File to Load


file_to_load = "purchase_data.csv"

# Read Purchasing File + store into Pandas

purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
player_demographic = purchase_data.loc[:, ["Gender", "SN", "Age"]]
player_demographic.head()
player_count = len(purchase_data["SN"].value_counts())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Run basic calculations to obtain number of unique items, average price, etc.

unique_items = len((purchase_data["Item ID"]).unique())
price_average = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
revenue_total = (purchase_data["Price"]).sum()

#Create a summary data frame to hold the results
display_summary_df = pd.DataFrame({"The # of Unique Items":[unique_items],
                           "Average Price":[price_average], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [revenue_total]})

#Display the summary data frame
display_summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_demographics = player_demographic["Gender"].value_counts()

males = gender_demographics["Male"]

females = gender_demographics["Female"]

other = gender_demographics["Other / Non-Disclosed"]

gender_totals = gender_demographics["Male"] + gender_demographics["Female"] + gender_demographics["Other / Non-Disclosed"]

male_percent = gender_demographics["Male"] / gender_totals * 100

female_percent = gender_demographics["Female"] / gender_totals * 100

other_percent = gender_demographics["Other / Non-Disclosed"] / gender_totals * 100

#print(male_percent)
#print(female_percent)
#print(other_percent)

#Create a summary data frame to hold the results
display_gender_summary_df = pd.DataFrame({"Male count": [males],
                                   "Male %": [male_percent],
                                   "Female count": [females],
                                   "Female %": [female_percent],
                                   "Other count": [other],
                                   "Other %": [other_percent]})
                          
#Display the summary data frame
display_gender_summary_df.style.format({'Male %':"{:,.2f}",
                                        'Female %':"{:,.2f}",
                         'Other %': '{:,.2f}'})



#gender_percentage = gender_demographics / player_count * 100

#gender_demographics_clean = pd.DataFrame({"Total Count": gender_demographics,
                                    #"% of Players": gender_percentage})

#gender_demographics_clean = gender_demographics_clean.round(2)

#gender_demographics_clean


## Purchasing Analysis (Gender)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame